@tailwind base;:root {

@tailwind components;  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

@tailwind utilities;  line-height: 1.5;

  font-weight: 400;

@layer base {

  :root {  color-scheme: light dark;

    --background: 0 0% 100%;  color: rgba(255, 255, 255, 0.87);

    --foreground: 222.2 84% 4.9%;  background-color: #242424;

    --card: 0 0% 100%;

    --card-foreground: 222.2 84% 4.9%;  font-synthesis: none;

    --popover: 0 0% 100%;  text-rendering: optimizeLegibility;

    --popover-foreground: 222.2 84% 4.9%;  -webkit-font-smoothing: antialiased;

    --primary: 221.2 83.2% 53.3%;  -moz-osx-font-smoothing: grayscale;

    --primary-foreground: 210 40% 98%;}

    --secondary: 210 40% 96%;

    --secondary-foreground: 222.2 84% 4.9%;a {

    --muted: 210 40% 96%;  font-weight: 500;

    --muted-foreground: 215.4 16.3% 46.9%;  color: #646cff;

    --accent: 210 40% 96%;  text-decoration: inherit;

    --accent-foreground: 222.2 84% 4.9%;}

    --destructive: 0 84.2% 60.2%;a:hover {

    --destructive-foreground: 210 40% 98%;  color: #535bf2;

    --border: 214.3 31.8% 91.4%;}

    --input: 214.3 31.8% 91.4%;

    --ring: 221.2 83.2% 53.3%;body {

    --radius: 0.5rem;  margin: 0;

  }  display: flex;

  place-items: center;

  .dark {  min-width: 320px;

    --background: 222.2 84% 4.9%;  min-height: 100vh;

    --foreground: 210 40% 98%;}

    --card: 222.2 84% 4.9%;

    --card-foreground: 210 40% 98%;h1 {

    --popover: 222.2 84% 4.9%;  font-size: 3.2em;

    --popover-foreground: 210 40% 98%;  line-height: 1.1;

    --primary: 217.2 91.2% 59.8%;}

    --primary-foreground: 222.2 84% 4.9%;

    --secondary: 217.2 32.6% 17.5%;button {

    --secondary-foreground: 210 40% 98%;  border-radius: 8px;

    --muted: 217.2 32.6% 17.5%;  border: 1px solid transparent;

    --muted-foreground: 215 20.2% 65.1%;  padding: 0.6em 1.2em;

    --accent: 217.2 32.6% 17.5%;  font-size: 1em;

    --accent-foreground: 210 40% 98%;  font-weight: 500;

    --destructive: 0 62.8% 30.6%;  font-family: inherit;

    --destructive-foreground: 210 40% 98%;  background-color: #1a1a1a;

    --border: 217.2 32.6% 17.5%;  cursor: pointer;

    --input: 217.2 32.6% 17.5%;  transition: border-color 0.25s;

    --ring: 224.3 76.3% 94.1%;}

  }button:hover {

}  border-color: #646cff;

}

@layer base {button:focus,

  * {button:focus-visible {

    @apply border-border;  outline: 4px auto -webkit-focus-ring-color;

  }}

  body {

    @apply bg-background text-foreground;@media (prefers-color-scheme: light) {

  }  :root {

}    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
